<div class="modal-box">
      <div class="modal-header">
          <h3 class="title modal-title">Create new user</h3>
      </div>
      <div class="form-box">
        <%= render 'form', user: @user %> 
      </div>
</div>
  