<div id='modal-holder-edit'>
  <div class="modal-header">
    <h1 class="title modal-title">Editing user</h1>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <%= render 'form', user: @user %>
</div>
